<form action="" class="fila">
  <section class="contenedor1">
    <div class="col-full-12">
      <h2>Ingresa un pedido</h2>
    </div>
  </section>

  <!--  tabla de registro de pedido  -->
  <table class="contenedor1">
    <!-- Primer tr -->
    <tr class="col-full-12">
      <td>
        <p>N.- pedido:</p>
      </td>

      <td>
        <p>Nombre del Cliente:</p>
      </td>

      <td>
        <p>Estado del pedido:</p>
      </td>

      <td>
        <p>Domicilio:</p>
      </td>

      <td>
        <p>Tienda Origen:</p>
      </td>
    </tr>

    <!-- Segundo tr -->
    <tr class="col-full-12">
      <td>
        <p>Tipor de pedido</p>
      </td>

      <td>
        <p>Piezas rqueridas</p>
      </td>

      <td>
        <p>Piezas surtidos</p>
      </td>

      <td>
        <p>Telefono:</p>
      </td>

      <td>
        <p>Notas:</p>
      </td>
    </tr>

    <!-- Tercer tr -->
    <tr class="col-full-12">
      <td>
        <p>Monto $:</p>
      </td>

      <td>
        <p>Total:</p>
      </td>

      <td>
        <p>Factura:</p>
      </td>

      <td>
        <p>Embarque:</p>
      </td>
    </tr>

    <!-- Cuarto tr -->
    <tr class="col-full-12">
      <td>
        <p>Ronda</p>
      </td>

      <td>
        <p>Chofer</p>
      </td>

      <td>
        <p>Hora de salida</p>
      </td>

      <td>
        <p>Hora de llegada</p>
      </td>

      <td>
        <p>Unidad</p>
      </td>

      <td>
        <p>Km salida</p>
      </td>

      <td>
        <p>Km Entrada</p>
      </td>

      <td>
        <p>Incidencia</p>
      </td>

      <td>
        <p>Anotaciones</p>
      </td>
    </tr>
  </table>
</form>
